#burgerOne {
    display: none;
    width: 890px;
    position: absolute;
    right: -900px;
    top: 110px;
}
#burgerTwo {
    display: none;
    width: 890px;
    position: absolute;
    right: -900px;
    top: 110px;
}
#burgerThree {
    display: none;
    width: 890px;
    position: absolute;
    right: -900px;
    top: 123px;
}

#burgerFour {
    display: none;
    width: 890px;
    position: absolute;
    right: -900px;
    top: 110px;
}