#burgerOne {
    display: none;
    width: 890px;
    position: absolute;
    right: -900px;
    top: 140px;
}
#burgerTwo {
    display: none;
    width: 890px;
    position: absolute;
    right: -900px;
    top: 140px;
}
#burgerThree {
    display: none;
    width: 890px;
    position: absolute;
    right: -900px;
    top: 150px;
}

#burgerFour {
    display: none;
    width: 890px;
    position: absolute;
    right: -900px;
    top: 140px;
}