#burgerOne {
    display: none;
    width: 650px;
    position: absolute;
    right: -600px;
    top: 80px;
}
#burgerTwo {
    display: none;
    width: 600px;
    position: absolute;
    right: -640px;
    top: 250px;
}
#burgerThree {
    display: none;
    width: 650px;
    position: absolute;
    right: -640px;
    top: 150px;
}

#burgerFour {
    display: none;
    width: 690px;
    position: absolute;
    right: -660px;
    top: 200px;
}