#orderButton {
    background-color: #F7AA05;
    padding: 5px 30px 5px 30px;
    color: rgb(243, 243, 243);
    border: 0;
    box-shadow: 1px -8px 50px rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
    height: 45px;
}

#readmoreButton {
    background-color: #f79a05;
    padding: 5px 50px 5px 50px;
    color: rgb(243, 243, 243);
    border: 0;
    box-shadow: 1px -8px 50px rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-radius: 1.5px;
    cursor: pointer;
    height: 45px;
    margin-left: 150px;
}

#orderButton:hover {
    transition: 0.4s ease-in-out;
    background-color: #db9602;
    color: rgb(223, 223, 223);
}

.socialMedia {
    width: 25px;
    height: 30px;
    border: 0;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 10px 0 0;
    padding: 0;
    padding-right: 25px;
}

#instagramButton {
    background-image: url(imgs/instagramIcon.png.jpg);
    background-size: contain;
    background-color: transparent;
}

#facebookButton {
    background-image: url(imgs/facebookIcon.png.jpg);
    background-size: contain;
    background-color: transparent;
}

#youtubeButton {
    background-image: url(imgs/youtubeIcon.png.jpg);
    background-size: contain;
    background-color: transparent;
    margin-left: 30px;
}

#twitterButton {
    background-image: url(imgs/twitterIcon.png.jpg);
    background-size: contain;
    background-color: transparent;
}

#buttons-container-change-img {
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    position: absolute;
    left: 51%;
    bottom: 60px;
    color: rgb(243, 243, 243);
    border: 0;
    width: 450px;
    height: 30px;
}


.changeImgButton {
    width: 100px;
    height: 100%;
    background-color: #F7AA05;
    border: 0;
    color: rgb(243, 243, 243);
    border-radius: 1.5px;
    font-size: 1.2em;
    cursor: pointer;
}