@charset "UTF-8";

@font-face {
    font-family: 'Gotham';
    src: url(fonts/GothamOffice-Regular.otf);
}

@font-face {
    font-family: 'Gotham2';
    src: url(fonts/GothamXNarrSSm-Book.otf)
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --orange: #F7AA05;
    --red: ;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#background-container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

#background {
    width: 100%;
    max-width: 1920px;
    height: 99%;
    background-image: url(imgs/background-fullHD.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border: 10px solid black;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.8em;
    text-shadow: 0px 0px 11px rgb(0 0 0 / 67%);
}

#menu > ul {
    display: flex;
    gap: 50px;
    list-style: none;
    padding-top: 10px;
    margin-left: 9em;
}

li {
    position: relative;
}

li > a {
    text-decoration: none;
    color: rgb(243, 243, 243);
}

li > a:hover {
    color: var(--orange);
}

nav > ul > li > a::after {
content: '';
width: 0;
background-color: var(--orange);
position: absolute;
right: 0px;
top: 0.9em;
left: 0px;
}

nav > ul > li > a:hover::after {
    content: '';
    transition: width 0.3s ease;
    width: 100%;
    height: 15%;
    background-color: var(--orange);
    position: absolute;
    top: 1.1em;
    bottom: 0px;
    right: -20px;
    left: 0px;
    }

#readmore-container {
width: 100%;
height: 70px;
position: absolute;
bottom: 22em;
left: 0;
display: flex;
justify-content: start;
padding-left: 17em;
}
    
header {
    width: 100%;
}

#logo {
    width: 200px; 
    position: absolute; 
    top: 0; 
    left: 60px;
}

#prevButton {
    margin-left: 45em;

}

#nextButton {
    margin-right: 16.5em;

}
