#menu {
    font-size: 1em;
}

header {
    min-width: 100%;
}


#background-container {
    min-width: 100%;
    min-height: 100%;
}

#background {
    width: 100%;
    max-width: 1366px;
    height: 99%;
    border: 10px solid black;

}

#logo {
    width: 10em; 
    left: 5em;
}

#orderButton {
    font-size: 0.8em;
    width: 15em;
    height: 3em;
}

#readmore-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    position: relative; 
    top: 50%;
    left: -25%;
}

#readmoreButton {
    font-size: 0.9em;
    width: 15em;
    height: 3em;
}

#buttons-container-change-img {
    gap: 1em;
    position: relative;
    top: 67%;
}

#prevButton {
margin-left: 30em;
height: 30px;

}

#nextButton {
    margin-right: 10em;
    padding: 0 1.5em 0 1.5em;
    height: 30px;
}

#burgerOne {
    width: 560px;
    right: -300px;
    top: 50px;
}
#burgerTwo {
    width: 560px;
    position: absolute;
    right: -900px;
    top: 50px;
}
#burgerThree {
    width: 600px;
    position: absolute;
    right: -900px;
    top: 50px;
}

#burgerFour {
    width: 600px;
    position: absolute;
    right: -900px;
    top: 115px;
}